.container {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    width: 1200px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.header .search {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 15px;
}

.header .search .menu {
    cursor: pointer;
    border: 2px solid #c92127;
    padding: 0 10px;
    border-radius: 0.4rem;
    position: relative;
}

.header .search .subMenu {
    display: none;
    position: absolute;
    width: 1200px;
    height: auto;
    left: -300px;
    top: 36px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 25px 10px;
    /* box-shadow: 4px 4px 6px gray; */
    transition: all 0.5 ease-in;
}

.header .search .subMenu.isShow {
    display: flex;
}

.header .subMenuLeft {
    border-right: 1px solid rgb(206, 206, 206);
    padding: 0 15px;
}

.header .subMenuLeft .lable {
    font-size: 1.5rem;
    font-weight: bold;
    color: gray;
    margin-bottom: 15px;
    padding-left: 15px;
}

.header .subMenuLeft .items {
    list-style-type: none;
}

.header .subMenuLeft li {
    font-size: 1rem;
    font-weight: 600;
    color: #212121;
    padding: 18px 15px;
    border-radius: 5px;
}

.header .subMenuLeft li.isHover {
    background-color: #f2f4f5;
}

.header .subMenuRight {
    flex: 1;
    padding: 0 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    gap: 10px;
}

.header .subMenuRight .menu {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: none;
}

.header .subMenuRight .subMenuName {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 8px;
}

.header .subMenuRight .subSubMenuName {
    font-size: 13px;
    color: gray;
    margin-bottom: 5px;
}

.header .subMenuRight .subSubMenuName:hover {
    color: #2489f4;
}

.header .search .inputSearch {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 8px;
    height: 40px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 0.5rem;
    width: 100%;
}

.header .search input {
    padding: 5px 10px;
    border: none;
    outline: none;
    color: gray;
    font-size: 1rem;
    width: 100%;
}

.header .search button {
    background-color: #c92127;
    border: none;
    border-radius: 0.5rem;
    padding: 5px 25px;
    cursor: pointer;
}

.header .options {
    display: flex;
    gap: 25px;
}

.header .options .notify,
.header .options .cart,
.header .options .account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: gray;
    gap: 5px;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
}

/* animation */

/* responsive */
@media(min-width: 1200px) {
    .header {
        width: 1200px;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    .header {
        gap: 50px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 900px) {
    .header {
        display: none;
    }
}