.container {
    width: 1200px;
}

.containerBannerOne {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 20px 0;
}

.containerBannerOne img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-width: 100%;
}

.containerBannerOne .saleOne {
    grid-area: 1 / -1 / 2 / -3;
}

.containerBannerOne .saleTwo {
    grid-area: 2 / -1 / 3 / -3;
}

.containerBannerOne .saleOne,
.containerBannerOne .saleTwo {
    border-radius: 5px;
    overflow: hidden;
}

@media (max-width: 1200px) {

    .container {
        width: 100%;
        padding: 0 25px;
    }

    .containerBannerOne .saleOne,
    .containerBannerOne .saleTwo {
        display: none;
    }

}