.button {
    width: 220px;
    height: 40px;
    color: #c92127;
    border: 2px solid #c92127;
    background-color: #ffffff;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    margin: 10px 0;
    cursor: pointer;
}