.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(82, 84, 85, 0.5);
    z-index: 1000;
}