.header {
    background-color: #fcddef;
    padding: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header img {
    width: 32px;
    height: 32px;
}