footer {
  border-top: 1px solid var(--primary-border-color);
  padding: 1rem 1rem;
  color: var(--text-muted);
  width: 1200px;
  max-width: 1200px;
}

.footerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-left: 0;
  padding-right: 0;
}

.footerLeft,
.footerRight,
.footerCenter {
  font-size: 0.8rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
