* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text: #333333;
    --text-muted: #666666;

    --primary-color: #e11d48;

    --primary-border-color: #f0f0f0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}