:root {
    --text: #333333;
    --tex-muted: #666666;

    --primary-color: #e11d48;

    --primary-border-color: #f0f0f0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}