.text {
    font-size: 13px;
    cursor: pointer;
    transform: translateX(-20px);
    transition: all 0.5s ease;
}

.text:hover {
    transform: translateX(0px);
    color: #fc99d2;
}

.text::before {
    content: "__";
    margin-right: 5px;
    opacity: 0;
}

.text:hover::before {
    opacity: 1;
}